body{
    background-image: url(https://i.redd.it/vw9jpgu7ugx11.jpg);
    /* background-image: url(https://images7.alphacoders.com/751/751196.jpg); */
    /* background-image: "image\6.jpg"; */
    background-size: cover;
    background-attachment: fixed;
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    /* background-position: center; */
}

.card{
    /* background: transparent; */
    background: rgba(0, 0, 0, 0.6);
    color: rgb(255, 255, 255);
    margin-top: 50px;
    padding: 20px;
    /* box-sizing: 10%; */
    box-shadow: 0px 0px 10px 3px grey;
}
